<div class="user-card">
  <img src="https://i.ibb.co/4KRxxvv/image.png" alt="user-profile-picture" class="user-card__image">
  <div class="user-card__data">
    <h2 class="user-card__name">Lorem, ipsum dolor.</h2>
    <span class="user-card__location">Lorem, ipsum dolor.</span>
  </div>
  <div class="user-card__icon-buttons">
    <button AFIconButton icon="forum" theme="primary" (click)="openChat()" class="user-card__button"></button>
    <button AFIconButton icon="person_add" theme="primary" (click)="addFriend()" class="user-card__button"></button>
  </div>
  <div class="user-card__chips">
    <app-chip text="Lorem" theme="primary"></app-chip>
    <app-chip text="Lorem" theme="accent"></app-chip>
    <app-chip text="Lorem" theme="warn"></app-chip>
    <app-chip text="Lorem"></app-chip>
  </div>
</div>