<header>
  <!-- <button AFIconButton icon="menu" (click)="onMenuClick.emit()"></button> -->
  <h2 id="project-name">{{ 'app-name' | translate }}</h2>
  <div class="spacer"></div>
  <div AFDropdown trigger="#menu" triggerFor="#menu-list" verticalOpen="bottom" horizontalOpen="left" id="dropdown">
      <button AFIconButton icon="more_vert" id="menu"></button>
      <div id="menu-list">
        <a AFDropdownItem icon="dialpad">Redial</a>
        <a AFDropdownItem icon="voicemail">Check voice mail</a>
        <a AFDropdownItem icon="notifications_off">Disable alerts</a>
      </div>
    </div>
</header>