<div class="game-card">
  <img [src]="card().imageUrl" alt="Game card image" class="game-card__image">
  <h3 class="game-card__name">{{ card().name }}</h3>
  <app-game-schedule-info class="game-card__info"
    [dateFrom]="card().dateFrom"
    [dateTo]="card().dateTo"
    [location]="card().location">
  </app-game-schedule-info>
  <div class="game-card__buttons">
    @for (button of buttons(); track $index) {
      <button AFButton [theme]="button.theme" (click)="button.onClick()">{{button.name}}</button>
    }
  </div>
</div>
