@import '../../../../assets/sass/style';

.game-card {
  min-width: 300px;
  border-radius: 8px;
  margin: .5rem;
  @include AF_Shadow;
  .game-card__image {
    width: 100%;
    height: 100px;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  .game-card__name {
    padding: 0.5rem;
  }
  .game-card__buttons {
    display: flex;
    padding: 0.5rem;
    button {
      flex: 1 1 auto;
    }
  }
}