@use 'sass:map';
@use '../palettes';
@use '../theming';
@use '../shadows';
@use '../prebuilt/main-dark-theme';
@use '../prebuilt/main-light-theme';

@mixin base-config-button {
  position: relative;
  border: none;
  cursor: pointer;
  user-select: none;
  &:focus {
    border: none;
    outline: none;
  }
}

@mixin set-colors($palette, $base: 500, $hover: 400, $active: 300) {
  background: theming.get-color-from-palette($palette, $base);
  color: get-contrast-color-from-palette($palette, $base);
  &:hover {
    background: theming.get-color-from-palette($palette, $hover);
    color: get-contrast-color-from-palette($palette, $hover);
  }
  &:active {
    background: theming.get-color-from-palette($palette, $active);
    color: get-contrast-color-from-palette($palette, $active);
  }
}

@mixin BaseButton($theme) {
  @include base-config-button;
  margin: 5px;

  $current-palettes: map.get($theme, color);

  &--primary {
    @include set-colors(map.get($current-palettes, primary));
  }
  &--accent {
    @include set-colors(map.get($current-palettes, accent));
  }
  &--warn {
    @include set-colors(map.get($current-palettes, warn));
  }
  &--error {
    @include set-colors(map.get($current-palettes, error));
  }
  &:active, &:hover {
    @include AF-Shadow;
  }
  &:disabled {
    background: map.get($gray-palette, 300);
    color: map.get($gray-palette, 100);
    cursor: default;
    border: none;
    outline: none;
    box-shadow: none;
  }
}

@mixin BaseIconButton($theme) {
  @include base-config-button;
  background: transparent;

  $current-palettes: map.get($theme, color);
  color: white;

  &--primary {
    color: map.get(map.get($current-palettes, primary), 500);
  }
  &--accent {
    color: map.get(map.get($current-palettes, accent), 500);
  }
  &--warn {
    color: map.get(map.get($current-palettes, warn), 500);
  }
  &--error {
    color: map.get(map.get($current-palettes, error), 500);
  }
  &:not(:disabled) {
    &:hover {
      ::before {
        content: '';
        position: absolute;
        border-radius: 50%;
        top: 0;
        left: 0;
        width: 40px;
        height: 40px;
        background: rgba(255,255,255,0.05);
      }
    }
    &:active {
      ::before {
        content: '';
        position: absolute;
        border-radius: 50%;
        top: 0;
        left: 0;
        width: 40px;
        height: 40px;
        background: rgba(255,255,255,0.1);
      }
    }
  }
  &:disabled {
    color: map.get($gray-palette, 200);
    cursor: default;
    border: none;
    outline: none;
    box-shadow: none;
  }
}

.af-button {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 4px 16px;
  border-radius: 5px;
  @include BaseButton(main-light-theme.$theme);
}

.af-icon-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  @include BaseIconButton(main-light-theme.$theme);
}