@import 'palettes';
@import 'shadows';
@import 'themes';
@import 'typography';
@import 'phantom';
@import 'elements/buttons';
@import 'elements/dropdown';

html, body {
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


h1, h2, h3, h4, h5, h6, p, span {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 1.5rem;
  font-weight: bold;
}

h2 {
  font-size: 1.5rem;
  font-weight: normal;
}

h3 {
  font-size: 1.25rem;
  font-weight: normal;
}

p, span {
  &:not(.material-symbols-rounded) {
    font-size: 1rem;
    font-weight: normal;
  }
}